ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=order_password
ORDER_DB_NAME=order_db
ORDER_DB_PORT=5435

ORDER_DATABASE_URL=postgresql+asyncpg://order_user:order_password@localhost:5435/order_db
ORDER_MIGRATION_DATABASE_URL=postgresql+psycopg://order_user:order_password@localhost:5435/order_db